body {
color:black;
font-family: Calibri;
background-color:white;
background-image:linear-gradient(black, grey);
background-position: center;
}

h1.logo {
  display: flex;
  height: 30%;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: d7d7e5;
  border-color: 939393;
  font-size: 56;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

div.menu {
display: flex;
align-items: center;
justify-content: space-around;
font-weight: bold;
list-style:none;
margin-left:0;
padding-left:0;
font-size: 24;
margin: 0;
padding: 0;
height: 7%;
}

div.musique {
display: flex;
align-items: center;
  background-color: d7d7e5;
  border-style: solid;
  border-color: 939393;
  margin-bottom: 2%;
  margin-left: 2%;
  border-radius: 10px;
  width: 70%;
}

img.covers {
  width: 10%;
  border-radius: 20px;
}

h2.colonne {
  margin-top: 3%;
font-size: 18;
font-weight: bold;
margin-left: 2%;
}

div.infos_musique {
  display: flex;
  flex-direction: column;
  margin-left: 4%;
}

.menu1 {
display: flex;
justify-content: center;
  background-color: 939393;
  width: 25%;
  margin: 0;
  padding: 0;
  height: 150%;
  align-items: center;
}

div.page {
  width: 85%;
  margin:auto;
  border-style: solid;
  border-color: 939393;
  border-top-style: none;
  border-bottom-style: none;
  background-color: e5e5e5;
}

h3.titre_chanson {
  font-size: 20;
  font-style: bold;
}

h3.artiste {
    font-size: 15;
  }

h3.titre_album {
  font-size : 13;
  font-style: oblique;
}

div.musique_liste{
display: flex;
align-items: center;
}

div.musique_liste {
display: flex;
align-items: center;
margin-bottom: 2%;
}

div.player {
  margin: 0 auto;
position: relative;
top: 34;
right: 50;
}

div.Classement{
  font-size: 25;
  font-style: bold;
  display: flex;
  justify-content: flex-end;
}
