body {
  color:black;
  font-family: Calibri;
  background-color:white;
  background-image:linear-gradient(black, grey);
  background-position: center;
}

#logo {
  display: flex;
  height: 30%;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  border-color: 939393;
  font-size: 56;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

div.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  list-style:none;
  margin-left:0;
  padding-left:0;
  font-size: 24;
  margin: 0;
  padding: 0;
  height: 7%;
}

#listemusique {
  background-color: d7d7e5;
  border-style: solid;
  border-color: 939393;
  margin: 2%;
  border-radius: 10px;
  list-style:none;
  padding: 2%;
}

#covers {
  display: flex;
  align-items: flex-start;
  width: 80px;
  border-radius: 20px;
}

h2.colonne {
  margin-top: 1%;
  font-size: 18;
  font-weight: bold;
  margin-left: 2%;
}

.menu1 {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(darkgrey, grey);
  width: 25%;
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: center;
  border-bottom-style: solid;
}

div.page {
  width: 85%;
  margin:auto;
  border-style: solid;
  border-color: 939393;
  border-top-style: none;
  border-bottom-style: none;
  background-color: white;
}

#titre {
  font-size: 20;
  font-style: bold;
}

#artiste {
  font-size: 15;
}

#album {
  font-size : 13;
  font-style: oblique;
}


iframe.player {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -60px;
}

#numero {
  font-size: 25;
  font-style: bold;
  display: flex;
  align-items: center;
}

#footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  height: 10%;
  padding-right: 3%;
}

#infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  border: 1px solid black;
}

#infos li {
  display: inline;
}

#like {
  width: 30px;
  margin: 10px;
}

#dislike {
  width: 30px;
  margin: 10px;
}

#infozik {
  display: flex;
  flex-flow: column;
}

#vote {
  display: flex;
  flex-flow: column;
}
